# PYTHON FUNDAMENTALS

In [ ]:
print("Dhaumya")

In [ ]:
#how to install packages in jupiter notebook
#pip
#conda

!pip install numpy

In [ ]:
conda install numpy

In [ ]:
!pip list

In [ ]:
import keyword
print(keyword.kwlist)

# variables

In [ ]:
#define variable

var1= 23
var2= 4405
var3= "hello python "
var4= True
var5= 4025j

print(var1,var2,var3,var4,var5, sep="\n")

In [ ]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

In [ ]:
print(var1.__sizeof__())
print(var2.__sizeof__())
print(var3.__sizeof__())
print(var4.__sizeof__())

In [ ]:
a,b,c,d=12,52.3,"hello",12
#print(a,b,c,d, sep=', ')
a,b=1000,5000
print(a,b,c,d ,sep="\n")

In [ ]:
x=y=z=1

w=x=7

z=y=10
x=z-x
print(w,x,y,z,sep='\n')
x

In [ ]:
del z
z

In [ ]:
print(w,x,z,y)

# string

In [ ]:
str1="university "
str2="vadodara "

print(str1,str2)
print(type(str1),type(str2))
print(str1+''+str2) #string concatnation
str1*2 #string repeatation
print(str2*4)
print(str1*5)

In [ ]:
print(len(str1),len(str2),sep="\n")

In [ ]:
str1[-10]

In [ ]:
str1[3]

In [ ]:
#str2[start:end:step]
str2[2:8]

In [ ]:
str2[2:]

In [ ]:
str2[:7]

In [ ]:
str2[:]

In [ ]:
str2[1:8:2]

In [ ]:
str2[-8:-1]

In [ ]:
str2[:-5]

In [ ]:
del str1

In [ ]:
str1[2]

In [ ]:
del str2[3]

In [ ]:
str2="new"

In [ ]:
#string format
string="{2}{0}{1}".format('python ','programing ','language ')
string

In [ ]:
string ="{c} {a} {b}".format(a="python",b="programing",c="language")
string

# list

In [2]:
list1 = [1,'python',67.5,True,50000]
list2 = ["hello",50]
list1

[1, 'python', 67.5, True, 50000]

In [4]:
list2

['hello', 50]

In [3]:
type(list1)

list

In [5]:
list1.__sizeof__()

104

In [8]:
#concatnation of list
list = list1+list2
print(list)

[1, 'python', 67.5, True, 50000, 'hello', 50]

In [9]:
len(list)

7

In [12]:
#for repeatation 
list2*10

['hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50,
 'hello',
 50]

In [14]:
#indexing
print(list1[1])
print(list1[-1])
print(list1[4])
print(list1[-4])
print(list1[0])
print(list1[:3])

python
50000
50000
python
1
[1, 'python', 67.5]

In [18]:
list1[1]="java"

In [16]:
list1

[1, 'java', 67.5, True, 50000]

In [20]:
del list1[2]
list1

[1, 'java', 50000]

In [17]:
len(list1)

5

# Tuples

In [21]:
#declaration of tuples
tup1=(23,25.3,True,"navratri",20000)
tup2=("welcome",25,"india")
print(tup1)
tup2

(23, 25.3, True, 'navratri', 20000)

('welcome', 25, 'india')

In [22]:
tup = tup1 + tup2

In [23]:
tup

(23, 25.3, True, 'navratri', 20000, 'welcome', 25, 'india')

In [25]:
len(tup)
len(tup2)

3

In [26]:
type(tup1)

tuple

In [27]:
#change the value from tuple
del tup1[2]
tup1

TypeError: 'tuple' object doesn't support item deletion

In [33]:
tup2[1]*6

150

In [32]:
tup1[1:3]

(25.3, True)

# dictonary

dict = {key : value}

In [53]:
dict = {"fruit":"Mango","animal":"Dog","city":"surat","rank":5}

dict

{'fruit': 'Mango', 'animal': 'Dog', 'city': 'surat', 'rank': 5}

In [54]:
len(dict)

4

In [55]:
dict1 = {1:"Mango",2:"Dog",3:"surat",4:5}
dict1

{1: 'Mango', 2: 'Dog', 3: 'surat', 4: 5}

In [56]:
type(dict)

dict

In [57]:
#printr only key and value sepratly
print(dict.keys())
print(dict.values())

dict_keys(['fruit', 'animal', 'city', 'rank'])
dict_values(['Mango', 'Dog', 'surat', 5])

In [58]:
dict2 = {}
dict2["key1"] = "value1"
dict2["key2"] = "value2"
dict2["key3"] = "value3"

dict2

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [59]:
dict3=dict+dict2
dict3

#not posible

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [60]:
dict['fruit']= "apple"
dict

{'fruit': 'apple', 'animal': 'Dog', 'city': 'surat', 'rank': 5}

In [61]:
dict1[2]

'Dog'

In [62]:
del dict["rank"]

In [63]:
dict

{'fruit': 'apple', 'animal': 'Dog', 'city': 'surat'}

In [70]:
comp=["compA","copmB","compC"]
dict4 = {"company":comp,"emp":dict}
dict4

{'company': ['compA', 'copmB', 'compC'],
 'emp': {'fruit': 'apple', 'animal': 'Dog', 'city': 'surat'}}

In [69]:
dict4["company"][1]

'copmB'

# loops

In [75]:
#while loop
count=0
while(count<1000):
    print("counter value is : ",count)
    count=count+50
else:
    print("loop terminate")

counter value is :  0
counter value is :  50
counter value is :  100
counter value is :  150
counter value is :  200
counter value is :  250
counter value is :  300
counter value is :  350
counter value is :  400
counter value is :  450
counter value is :  500
counter value is :  550
counter value is :  600
counter value is :  650
counter value is :  700
counter value is :  750
counter value is :  800
counter value is :  850
counter value is :  900
counter value is :  950
loop terminate

In [76]:
#for loop 
n=5
for i in range(0,n):
    print(i)

0
1
2
3
4

In [78]:
for index in range(len(list)):
    print(list[index])
else:
    print("Terminate")

1
python
67.5
True
50000
hello
50
Terminate

In [81]:
#if else loop

i=0

if (i<10):
    print("zero less than 10")
else:
    print("zero is grater than 10")

zero less than 10

# Python calulator

In [13]:
#define function for all operation
#performe addition, subtraction , division, multiplication operation


#define method for multiplication

def mul(x,y):
    return x*y

#define method for subtraction

def sub(x,y):
    return x-y


#define method for addition

def add(x,y):
    return x+y



#define method for division

def div(x,y):
    return x/y

#_______________ print massage for usser operation ____________#

print("Select an operation : 1/2/3/4 :")
print("3.addition")
print("2.subtraction")
print("1.multiplication")
print("4.division")

choice = input("enter choice from: 1/2/3/4 :")

if choice in ('1','2','3','4'):
    num1 = int(input("enter first number"))
    num2 = int(input("enter second number"))
    
    if choice == '1':
        print(num1,"*",num2, "=" , mul(num1,num2))
    elif choice == '2':
        print(num1,"-",num2, "=" , sub(num1,num2))
    elif choice == '3':
        print(num1,"+",num2, "=" , add(num1,num2))
    elif choice == '4':
        print(num1,"/",num2, "=" , div(num1,num2))

Select an operation : 1/2/3/4 :
3.addition
2.subtraction
1.multiplication
4.division
enter choice from: 1/2/3/4 :1
enter first number22
enter second number55
22 * 55 = 1210

#